:root {
    --light-brown: #9B6647;
    --beige: #FEECE0;
    --dark-brown: #58190A;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, .body {
    width: 100%;
    height: 100%;
}

.container1 {
    background-color: var(--beige);
    display: flex;
    width: 100vw;
    height: 55vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.pamonha-image {
    width: 409px;
    height: 293px;
    background: url(<path-to-image>), lightgray 0px -64.248px / 100% 139.518% no-repeat;
}

h1 {
    color: var(--dark-brown);
    leading-trim: both;
    text-edge: cap;
    font-family: Source Serif Pro;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: var(--dark-brown);
    leading-trim: both;
    text-edge: cap;
    font-family: Source Serif Pro;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quantities {
    display: flex;
    align-items: center;
    gap: 15px;
}

.portions {
    color: var(--light-brown);
    leading-trim: both;
    text-edge: cap;
    font-family: Source Serif Pro;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.decrease, .add {
    fill: var(--light-brown);
    background-color: var(--beige);
    border: none;
}

.number_of_servings {
    color: var(--light-brown);
    leading-trim: both;
    text-edge: cap;
    font-family: Source Sans Pro;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/*.container2 {
    background-color: var(--light-brown);
    display: flex;
    color: var(--beige);
    justify-content: center;
    gap: 120px;
    padding-top: 20px;
} */

.container2 {
    display: flex;
    background-color: var(--light-brown);
    width: 100vw;
    height: 45vh;
    padding: 40px 50px;
    justify-content: center;
    align-items: flex-start;
    color: var(--beige);
    gap: 120px;
    flex-shrink: 0;
}

.ingredients, .method_of_preparation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}

.title {
    display: flex;
    height: 35px;
    margin-top: 30px;
    margin-left: 20px;
    gap: 11px;
    font-weight: 500;
    align-items: center;
}

.title_text {
    color: var(--beige);
    leading-trim: both;
    text-edge: cap;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cesta_compras {
    width: 35.696px;
    height: 32px;
}

.panela {
    width: 37.926px;
    height: 32px;
}

.list {
    color: #FFF;
    leading-trim: both;
    text-edge: cap;
    font-family: Source Sans Pro;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: flex-start;
    margin-left: 52px;
}

.error {
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    background-color: rgba(255, 0, 0, 0.263);
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 0, 0, 0.288);
    width: 250px;
    height: 30px;
    font-weight: 700;
    font-size: 15px;
    border-radius: 5px;
    opacity: 0;
}

@media (max-width: 900px) {
    .container1 {
      width: 100%;
      min-width: 100vw;
      min-height: 90vh;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      padding: 0;
      gap: 0;
    }
  
    .container1, .text, .quantities {
      justify-content: center;
    }
  
    .container2 {
      display: flex;
      flex-direction: column;
      max-height: 100vh;
      height: 100%;
      gap: 3rem;
      padding: 5rem 2rem;
    }
  
    .container2, .ingredients {
      height: 100%;
      gap: 2rem;
    }
  
    .container2, .title {
      justify-content: center;
    }
  }